body{
background: #333;
}

h1 {
color:#ff7800;
font-size:3em;
font-family:verdana;
margin:0;
}
p,h2 {
color:#fff;
}

.circle {
    width: 60px;
    height: 60px;
    background: #ff7800;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    position: absolute;
    border: 1px solid black;
    color: #fff;
    font-size:1.2em;

}

.weightLabels {
   font-size:2em;
    color:#fff;
}

.endPoints{
   background:#fff;
}

#nodesearch_canvas {
background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
height:600px;
width:100%;



}